<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="output\1.txt" type="System.Diagnostics.XmlWriterTraceListener"
            name="mylisteners">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="output\2.txt" type="System.Diagnostics.XmlWriterTraceListener"
            name="messagelogging">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingGene" receiveTimeout="00:10:10" portSharingEnabled="true">
          <reliableSession enabled="false" />
        </binding>
        <binding name="NetTcpBindingReliableFalse20M" receiveTimeout="01:00:00" sendTimeout="01:00:00"
          transferMode="Buffered" maxReceivedMessageSize="20971520" portSharingEnabled="true">
          <reliableSession enabled="false" />
        </binding>
        <binding name="NetTcpBindingReliableFalse2G" receiveTimeout="01:00:00"
          sendTimeout="01:00:00" transferMode="Buffered" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          portSharingEnabled="true">
          <readerQuotas maxDepth="16" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="209715200" maxNameTableCharCount="2048" />
          <reliableSession inactivityTimeout="01:00:00" enabled="false" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CommonBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfServices.GoodsOutService" behaviorConfiguration="CommonBehavior">
        <endpoint address="GoodsService" binding="netTcpBinding" bindingConfiguration="NetTcpBindingGene" name="GoodsService" contract="WcfServices.IGoodsOutService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:43210/Goods" />
            <add baseAddress="http://127.0.0.1:43299/Goods" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>