<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="GoodsService">
                    <reliableSession enabled="true" />
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:43210/Goods/GoodsService"
                binding="netTcpBinding" bindingConfiguration="GoodsService"
                contract="Learn.Clients.IGoodsOutService" name="GoodsService">
                <identity>
                    <userPrincipalName value="JM@yx.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>